# Default ignored files
/shelf/
/out/production/SE01-SP1/dk/sdu/mmmi/t3/g1/
/out/production/SE01-SP1/worldofzuul/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
